*,*::before,*::after{box-sizing:border-box}
:where(div,nav,main,header,footer,aside,article,search,ul,li,hr,form,a,button){display:flex;flex-direction:column}
.lay-col{display:flex;flex-direction:column}
.lay-row{display:flex;flex-direction:row}
.bg-t_both_bg{background-color:var(--both-bg)}
